@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    background-color: white;
    color: black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16rem;

    height: auto;
}

.senha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    // border: 2px solid black;
    // border-radius: 8px;
    
    padding: 0;

    height: auto;

    gap: 4rem;

}

.senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    h1 {
        font-size: 4rem;
        text-transform: uppercase;
    }

    h2 {
        font-size: 7.5rem;
    }
}

.btn-reset {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 1rem;
    background: #dddddd;
    color: red;

    padding: 0.5rem;

    font-size: 1rem;
}

.btn-next {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 1rem;
    background: #dddddd;
    color: green;

    padding: 0.5rem;

    font-size: 2rem;
}

.data {
    display: flex;
    flex-direction: column;  

    gap: 1rem;

    p {
        text-transform: uppercase;
        font-weight: bold;

        font-size: 1.5rem;
    }
}
.separation {
    text-align: center;
    p {
        padding-bottom: 4rem;
    }
}

@media screen and (max-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;

        margin: 12rem 0;
    }

    .senha-container {
        height: 10rem;
    }
}

@media print {
    body * {
      visibility: hidden;
    }

    #senhaContainer, #senhaContainer * {
      visibility: visible;
    }

    #senhaContainer {
      position: relative;
      left: 0;
      top: 0;
    }
  }